.container {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: $tablet-width) {
  .container {
    padding: 0 45px;
  }
}

@media screen and (max-width: $mobile-width) {
  .container {
    padding: 0 15px;
  }
}
