.prefooter {
  border-top: solid 1px $base-color;
  background-image: linear-gradient(to right, $base-color 50%, transparent 50%);
}

.prefooter__inner {
  display: flex;
}

.prefooter__item {
  width: 50%;
}

@media screen and (max-width: $tablet-width) {
  .prefooter {
    border-top: none;
    background-image: none;
    overflow: hidden;
  }

  .prefooter__inner {
    display: block;
  }

  .prefooter__item {
    width: 100%;
  }
}
