.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social__item {
  margin: 5px 33px 5px 0;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  fill: $light-color;
}

.social__link:focus,
.social__link:hover {
  outline: none;
  fill: darken($light-color, 10%);
}

.social__link:active {
  fill: darken($light-color, 15%);
}

.social__image {
  display: block;
}

@media screen and (max-width: $tablet-width) {
  .social__item {
    margin-right: 23px;
  }

  .social__image {
    &--fb {
      width: 9px;
      height: auto;
    }

    &--inst {
      width: 16px;
      height: auto;
    }

    &--tw {
      width: 16px;
      height: auto;
    }
  }
}
