.tickets {
  padding: 120px 0 200px;
  background-color: $bg-color;
  background-image: url("../img/damn.png"), linear-gradient(to top, $white-color 81px, transparent 81px);
  background-repeat: no-repeat;
  background-position: left calc((100% - 1200px) / 2 + 1231px) bottom -70px, 0 0;
}

.webp .tickets {
  background-image: url("../img/damn.webp"), linear-gradient(to top, $white-color 81px, transparent 81px);
}

.tickets__heading {
  margin: 0 0 35px;
  text-align: center;
}

.tickets__tabs-nav {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 341px;
  margin: 0 auto 37px;
  padding-bottom: 11px;
  border-bottom: solid 2px rgba(120, 120, 120, 0.2);
}

.tickets__tabs-nav-btn {
  margin-right: 16px;
  padding: 0;
  font-size: 20px;
  color: rgba($base-color, 0.5);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $base-color;
  }

  &:active {
    color: $darkred-color;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -13px;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: $darkred-color;
  }

  &--active {
    position: relative;
    color: $base-color;
    pointer-events: none;

    &::before {
      width: 100%;
      transition: width 0.3s ease;
    }
  }
}

.tickets__tabs-content {
  display: none;

  &--active {
    display: block;
  }
}

.tickets__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tickets__card {
  width: 100%;
  max-width: 31.03%;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .tickets {
    background-image: url("../img/damn@2x.png"), linear-gradient(to top, $white-color 81px, transparent 81px);
    background-size: 470px 494px;
  }

  .webp .tickets {
    background-image: url("../img/damn@2x.webp"), linear-gradient(to top, $white-color 81px, transparent 81px);
  }
}

@media screen and (max-width: $tablet-width) {
  .tickets {
    padding: 100px 0 170px;
    background-position: left calc((100% - 768px) / 2 + 632px) bottom -55px, 0 10px;
    background-size: 423px auto, 100% auto;
  }

  .tickets__inner {
    &::before {
      bottom: -225px;
      right: -38px;
      width: 346px;
      height: 444px;
    }
  }

  .tickets__heading {
    margin-bottom: 30px;
  }

  .tickets__tabs-nav {
    min-width: 332px;
    margin-bottom: 44px;
    padding-bottom: 12px;
  }

  .tickets__tabs-nav-btn {
    font-size: 18px;

    &--active {
      &::before {
        bottom: -14px;
      }
    }
  }

  .tickets__list {
    display: block;
  }

  .tickets__card {
    width: 100%;
    max-width: 442px;
    margin: 0 auto 39px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .tickets {
    padding: 68px 0 70px;
    background-image: none;
  }

  .webp .tickets {
    background-image: none;
  }

  .tickets__inner {
    &::before {
      display: none;
    }
  }

  .tickets__heading {
    margin-bottom: 23px;
  }

  .tickets__tabs-nav {
    min-width: 290px;
    margin-bottom: 34px;
  }

  .tickets__tabs-nav-btn {
    font-size: 16px;

    &--active {
      &::before {
        left: 0;
        transform: translateX(0);
        width: calc(100% + 7px);
      }
    }
  }

  .tickets__card {
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
