$desktop-width: 1200px;
$tablet-width: 1023px;
$mobile-width: 767px;

$white-color: #ffffff;
$red-color: #ed0233;
$blue-color: #103aae;
$dark-color: #030a1a;
$base-color: #102654;
$bg-color: #f8f9fc;
$blue-bg-color: #1c3374;
