$desktop-width: 1200px;
$tablet-width: 1023px;
$mobile-width: 767px;

$dark-blue-color: #155c9e;
$light-color: #f9fbfd;
$light-blue-color: #bfe1fc;
$grey-color: #d8d8d9;
$lavender-color: #dbe5f1;
$base-color: #011c40;
