$desktop-width: 1200px;
$tablet-width: 1199px;
$mobile-width: 767px;

$white-color: #ffffff;
$red-color: #ed0233;
$darkred-color: #d10a42;
$blue-color: #103aae;
$blue2-color: #2e35ac;
$blue3-color: #0041ca;
$light-blue-color: #74819c;
$dark-color: #030a1a;
$grey-color: #e8e8e8;
$grey2-color: #b6bdcc;
$base-color: #102654;
$bg-color: #f8f9fc;
$blue-bg-color: #1c3374;
